{% extends 'base.html' %}
{% load static %}
{%block body%}
{% if messages %}
{% for message in messages%}
<div
  class="alert alert-{{ messages.tags }} alert-dismissible fade show"
  role="alert"
  style="
    margin: 0;
    z-index: 999;
 border: 10px solid #4D80FF;
    
    background: #C7D7FE;
    
    box-shadow: 0px 0px 50px 1px #444CE7;
    font-family: Future Bk Bt !important;
    color: Black !important;
  "    font-family: Future Bk Bt !important;
  "
>
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {%endif%}
<div class="main-img">
    <img src="./static/images/Hackathon_cover.png" alt="" class="compi-img">
    <div class="d-flex justify-content-center" style="background-color:#15284D ; margin-top: 
    -2vw;" >
        <button  id="text4" data-aos="fade-up"
      
      data-aos-easing="ease-in-sine"><a href="https://beta.yourengineer.in/event/hackathon24-by-abhyudaya-social-body-iit-bombay-dbd8"  style="text-decoration: none;"><b class="register">Register</b></a></button> 
    </div>
</div>
<section class="compi-structure" style="background-color:  #15284D;">
<div class="details" data-aos="fade-up"
      
      data-aos-easing="ease-in-sine" style="background-color:  #C7D7FE;border-radius: 53px;
border: 10px solid #4D80FF;box-shadow: 0px 0px 50px 1px #444CE7;

">
   <div class="decrpt">
    <h3>
        Description:
    </h3>
    <p>
      The Hackathon Competition 2024 is a prestigious event that offers tech enthusiasts an
      opportunity to solve real-world problems using innovative coding solutions. This year's
      competition will feature a challenging problem statement that participants must address
      during the rounds.
      

    </p>
   </div>
   <div class="decrpt">
    <h3>
        Structure:
    </h3>
    <p style="list-style: circle;">
    
        <li style="list-style: none;">
          Participation: Individual or Team

          
          
         
          
          
          
          
         
          </li>
          <li>Team Formation is a compulsory process. A Team needs to have a minimum of 3 candidates and a maximum of 4. If you register as an individual, we will help you be part of a team.</li>
          <li>Theme of Hackathon: Social Impact. Participants will choose their own problem statement based on the theme.</li>
          <li>Hackathon will be of 12 Hours divided into 7 Hours of Coding Time, 2 Hours Masterclass on DSA, and 3 hours of Screening & Presentation.</li>
          <li>Full Agenda with Judging Criteria will be communicated to the respective teams after successful enrollment.</li>
          <li>You will be needed to develop and submit your coding solution within the given timeframe.</li>
          <li>Judges will evaluate submissions and select the top 10 performing teams to advance to the final round.</li>
          <li>Top 10 Teams will present their solutions in person to a panel of judges.</li>
          <li>The winning team will be announced at the end of the event.</li>
          <li>Register and then join the <a href="https://chat.whatsapp.com/BvXBdtvgvuUBDDnfpNQJtm">WhatsApp Community</a></li>

    </p>
    <h3>    
        Rules & Regulations:
    </h3>
    <p style="list-style: circle;">
      <li>Eligibility: Students of all engineering domains are eligible.</li>
      <li>Team Size: 1-4 including the Team leader</li>
      <li>Registration Fee: Free</li>
      <li>Venue: IIT Bombay Campus</li>
      <li>Point of contact: Team leader and their email address.</li>
      <li>Each individual can only be associated with one team.</li>
      <li>Multiple registrations by a particular team or person shall lead to disqualification.</li>
      <li>The decision of the organizing team shall be final in case of any discrepancy.</li>
      <li>In case of any discrepancy, the decision of the organizing team shall be binding.</li> 

    </p>
    <h3>
        Prizes & Perks:

    </h3>
    <p style="list-style: circle;">
      <li>INR 10K Cash Prize to the winner.</li>
      <li>Merchandises will be provided to 1st and 2nd Runner Up.</li>
      <li>PPI (pre-placement interview) and internship opportunities for the finalists.</li>
      <li>YourEngineer Courses & Training Program Discount coupons worth 50% for each participant.</li>
      <li>Participation e-certificates shall be awarded to all the participants.</li>

    </p>
    <h3>
      Partner:
  </h3>
  <p>
    <br>
    <a href="https://beta.yourengineer.in/"><img src="./static/images/hackimg.jpg" class="partner-logo" alt=""></a>
    <br>
    <a href="https://beta.yourengineer.in/">YourEngineer </a>is a centralized platform dedicated to reshaping the landscape of the engineering ecosystem. It is on a mission to bridge the gap between skilled engineers and thriving opportunities. 

    Immerse yourself in a supportive community of engineers, explore a diverse range of events, read curated insightful articles and find opportunities that align with your skills and aspirations.

  </p>
   </div>
</div>
</section>
<div class="contact-div">
    <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-right"
      
      data-aos-easing="ease-in-sine"  id="contact-us-abhyuday">Contact Us</h2>
   <div class="d-flex flex-column justify-content-center p-2vw" style="gap: 20px; margin-top: 7vw;">
    
     <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
      <h3 class="person">Prajyot Chakre</h3>
        
        <h5 class="post">Competitions Head</h5>
      
        <h5 class="post">prajyot.abhyuday@gmail.com</h5>
      
        <h5 class="post">7448175579</h5>
    </div>
   </div>
  </div>

{% endblock body %}