{% extends 'base.html' %}
{% load static %}
{%block body%}
{% if messages %}
{% for message in messages%}
<div
  class="alert alert-{{ messages.tags }} alert-dismissible fade show"
  role="alert"
  style="
    margin: 0;
    z-index: 999;
    border: 10px solid #4D80FF;
    
    background: #C7D7FE;
    
    box-shadow: 0px 0px 50px 1px #444CE7;
    font-family: Future Bk Bt !important;
    color: Black !important;
  "
    font-family: Marcellus !important;
  "
>
  <strong>{{ message }}</strong>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
{% endfor %} {%endif%}
<div class="main-img">
    <img src="./static/images/Moot Court Cover Image.png" alt="" class="compi-img">
    <div class="d-flex justify-content-center" style="background-color:#15284D ; margin-top: 
    -2vw;" >
        <button  id="text4" data-aos="fade-up"
      
      data-aos-easing="ease-in-sine"><a href="{% url 'moot_c' %}"  style="text-decoration: none;"><b class="register">Register</b></a></button> 
    </div>
</div>
<section class="compi-structure" style="background-color:  #15284D;">
<div class="details" data-aos="fade-up"
      
      data-aos-easing="ease-in-sine" style="background-color:  #C7D7FE;border-radius: 53px;
border: 10px solid #4D80FF;box-shadow: 0px 0px 50px 1px #444CE7;

">
   <div class="decrpt">
    <h3>
        Description:
    </h3>
    <p>
      Are you ready to step into the shoes of a legal advocate and argue before a panel of esteemed judges? The Moot Court Competition 2023 invites law students from around the world to participate in a thrilling legal battle. The Moot Court Competition 2023 is a prestigious event that allows law students to showcase their advocacy, research, and argumentation skills. This year's competition will focus on a complex and contemporary legal issue, providing participants with an opportunity to engage in intellectual discourse and hone their legal expertise.


    </p>
   </div>
   <div class="decrpt">
    <h3>
        Structure:
    </h3>
    <p style="list-style: circle;">
        <li>Participation: In Teams of 3
         
          </li>
        <li> Rounds: Preliminary Elimination (Offline), Finals (Offline)</li>
        <li>Deadline for Registration: <b>7th January, 2023 11:59 PM</b></li> 


    </p>
    <h3>
        Rules & Regulations:
    </h3>
    <p style="list-style: circle;">
      <li>The competition is open to all full-time students of any under-graduation, degree, or post-graduation courses, working and learning professionals pan India.</li>
            <li>Team size should be at most 3 members.</li>
            <li>Preliminary elimination and finals are conducted offline at the IIT Bombay campus.</li>
            <li>Teams must adhere to the specified time limits for answering questions.</li>
            <li>Sportsmanship and fair play are expected from all participants.</li>
            <li>The decision of the organizing team is final and binding.</li>

    </p>
    <h3>
        Prizes & Perks:

    </h3>
    <p style="list-style: circle;">
      <li>Exclusive Merchandise to the winners & Official Certificates and LORs from Abhyuday, IIT Bombay to all the participants.
      </li>
      <li>Network with industry leaders and potential employers</li>
      <li>Attend exclusive workshops and panel discussions.</li>
    </p>
   </div>
</div>
</section>
<div class="contact-div">
    <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-right"
      
      data-aos-easing="ease-in-sine"  id="contact-us-abhyuday">Contact Us</h2>
   <div class="d-flex flex-column justify-content-center p-2vw" style="gap: 20px; margin-top: 7vw;">
    
     <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
      <h3 class="person">Prajyot Chakre</h3>
        
        <h5 class="post">Competitions Head</h5>
      
        <h5 class="post">prajyot.abhyuday@gmail.com</h5>
      
        <h5 class="post">7448175579</h5>
    </div>
   </div>
  </div>

{% endblock body %}