{% extends 'base.html' %}
{% load static %}
{%block body%}

<div class="main-img">
    <img src="./static/images/SPF Register Cover Page.png
    " alt="" class="compi-img">
</div>
<div class="reg-div" style="padding: 8vw; background-color: #15284D; margin: -3vw; width: 102.3vw!important;    padding-bottom: 0vw;
"  data-aos="fade-up">
    <h2 class="text-center"><b id="register-word">REGISTER</b></h2>
    <div class="form-container">
      <form action="{% url 'SP_F' %}" method="post">
        {% csrf_token %}
       
        <div class="form-group">
          <label for="schoolname">Team Leader's Name</label>
          <input
            type="text"
            class="form-control"
            id="schoolname"
            name="schoolname"
            placeholder="Enter your Team Leader Name"
            style="
              background: #C7D7FE;
              border-radius: 50em;
              border: 4px solid #4D80FF;;
              background-color: #ffffff;
              
            "
             required
          />
        </div>
        <div class="form-group">
          <label for="email"> Team Leader's Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            style="
              background: #C7D7FE;
              border-radius: 50em;
              border: 4px solid #4D80FF;;
              background-color: #ffffff;
            "
             required
          />
        </div>
        <div class="form-group">
          <label for="phone">Team Leader's Contact (Preferably whatsapp)</label>
          <input
            type="Phone"
            class="form-control"
            id="phone"
            name="phone"
            placeholder="Enter your Contact"
            style="
              background: #C7D7FE;
              border-radius: 50em;
              border: 4px solid #4D80FF;;
              background-color: #ffffff;
            "
             required
          />
        </div>
        <div class="form-group">
          <label for="address">College Name</label>
          <input
            type="text"
            class="form-control"
            id="address"
            name="address"
            placeholder="Enter your Name"
            style="
              background: #C7D7FE;
              border-radius: 50em;
              border: 4px solid #4D80FF;;
              background-color: #ffffff;
            "
             required
          />
        </div>
        
       
      <div class="d-flex " style=" justify-content: space-between;">
        <div class="form-group">
            <label for="City">City</label>
            <input
              type="text"
              class="form-control"
              id="City"
              name="City"
              placeholder="Enter your City "
              style="
                background: linear-gradient(#ffffff, #ffffff) padding-box,
                  linear-gradient(to right, #ed46fd, #5529c5) border-box;
                border-radius: 50em;
                border: 4px solid #4D80FF;;
                background-color: #ffffff;
               
              "
               required
            />
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <br />
          <div class="state-search-container">
            <input
              type="text"
              id="state-search"
              name="stateName"
              class="state-search"
              placeholder="Enter your state"
              style="
                width: 41.5vw;
                background: linear-gradient(#ffffff, #ffffff) padding-box,
                  linear-gradient(to right, #ed46fd, #5529c5) border-box;
                border-radius: 50em;
                border: 4px solid #4D80FF;;
                background-color: #ffffff;
               
              "
               required
            />
             <div
              id="filtered-states"
              class="filtered-states"
              style="color: rgb(255, 255, 255) !important; background-color: #C7D7FE; "
            ></div>
          </div>
        </div>
      </div>
      {% comment %} <div class="form-group">
        <label for="principal">Pricipal Name</label>
        <input
          type="text"
          class="form-control"
          id="principal"
          name="principal"
          placeholder="Enter your Principal Name "
              style="
                background: linear-gradient(#ffffff, #ffffff) padding-box,
                  linear-gradient(to right, #ed46fd, #5529c5) border-box;
                border-radius: 50em;
                border: 4px solid #4D80FF;;
                background-color: #ffffff;
               
              "
               required
            />
        </div>  {% endcomment %}
          <!-- <div class="form-group">
            <label for="profession">Organisation</label>
            <input
              type="text"
              class="form-control"
              id="organisation"
              name="organisation"
              placeholder="Enter your Principal Name"
              style="
                background: #C7D7FE;
                border-radius: 50em;
                border: 4px solid #4D80FF;;
                background-color: #ffffff;
              "
               
            />
          </div> -->
        
{% comment %}      
      <div class="form-group">
        <label for="poc">POC Teacher Name</label>
        <input
          type="text"
          class="form-control"
          id="POC"
          name="POC"
          placeholder="Enter your POC Teacher Name"
          style="
            background: #C7D7FE;
            border-radius: 50em;
            border: 4px solid #4D80FF;;
            background-color: #ffffff;
          "
           
        />
      </div>
       
        <div class="form-group">
          <label for="exampleFormControlSelect1">Profession</label>
          <select
            class="form-control"
            id="exampleFormControlSelect1"
            id="profession"
            name="profession"
            placeholder="Enter your Profession"
            style="
              background: #C7D7FE;
              border-radius: 50em;
              border: 4px solid #4D80FF;;
              background-color: #ffffff;
              padding-bottom: 2px;"  required>
            <option value="" selected disabled>select your Profession</option>
            <option>IITB Student</option>
            <option>Student</option>
  
            <option>Working</option>
            <option>Others</option>
  
          </select>
        </div> {% endcomment %}
       
      <div class="d-flex" style="justify-content: center; margin: 4vw;">
        <button
          class="btn btn-black submit-bt"
          type="submit"
          style="
         
            color: white;
            
          "
        ><b class="submit">REGISTER</b>
          
        </button>
      </div>
       
      </form>
    </div>
  </div>   
</div>
  </div>
  <div class="contact-div" style="padding-top: 0vw !important;">
    <h2 class="text-center" class="contact-text"><b class="contact-text" data-aos="fade-right"
      
      data-aos-easing="ease-in-sine"  id="contact-us-abhyuday">Contact Us</h2>
   <div class="d-flex flex-column justify-content-center p-2vw" style="gap: 20px; margin-top: 7vw;">
    
     <div class="text-center name-div" data-aos="zoom-in-up" data-aos-duration="1000">
      <h3 class="person">Devang Agarwal</h3>
      
      <h5 class="post">Competitions Head</h5>
    
      <h5 class="post">devang.abhyuday@gmail.com</h5>
    
      <h5 class="post">9898558427</h5>
    </div>
   </div>
  </div>
{% endblock body %}